.container{
    width: 450px;
    height: 500px;
    flex-direction: column;
    background-color: gray;
    border: 1px solid black;
}
#myCanvas{
    width: 450px;
    height: 450px;
    border: 1px solid rgb(119, 112, 112);
    background-color: white;
    background-position: center;
    background-size: cover;
}
.font{
    color: white;
}