.container{
    width: 640px;
    height: 530px;
    flex-direction: column;
    background-color: gray;
    border: 1px solid black;
}
#video{
    width: 640px;
    height: 480px;
    border: 1px solid rgb(119, 112, 112);
    background-color: white;
    background-position: center;
    background-size: cover;
}
.font{
    color: white;
}